.container {
    display: flex;
    justify-content: center;
}

.blue {
    background-color:#45a2e0;
    color: rgb(3, 3, 107);
}

.white {
    background-color: transparent;
}

.dark {
    background-color: black;
    color: rgb(217, 235, 26);
}